.footer{
    margin-top: 150px;
    width: 100%;
    height: 295px;
    padding: 3rem;
    background: #26ADE2;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bdOffice{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bdOffice h1{
    font-size: 18px;
    font-weight: 600;
}

.media{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}